@media screen and (max-width: 700px){

    main {
        padding: 1.5rem;
    }

    .container-input {
        width: 100%;
    }

    .card-main {
        background-color: rgba(0,0,0,1);
        min-height: 200px;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 340px;
        min-width: 290px;
        
    }



    #cardWeatherJS {
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }

    #containerRightJS {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
        gap: 1rem;
    
        }
    

        #div-humedad {
            padding: 0.3rem;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            height: max-content;
        }
        
}